body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

.wrapper {
    width: 100vw;
    height: 100vh;
    max-width: 100%;
    overflow: hidden;
}

/* ------------------------------- Header -------------------------------- */

.header {
    background-color: #202020;
    height: 55px;
    width: 100%;

    position: sticky;
    top: 0;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.header h1 {
    color: #fff;
    font-size: 15px;
    margin-left: 20px;
}

#start {
    display: flex;
    flex-direction: row;
    align-items: center;

    margin-left: 20px;
}

.searchComponent {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.searchbar {
    width: 40vw;
    height: 30px;
    border-radius: 5px;
    background-color: #121212;
    border: 1px solid #303030;
    color: #fff;
    padding-left: 5px;
}

input.searchbar::placeholder {
    color: #ffffffa0;
    font-size: 22;
}

#searchButton {
    background-color: #313131;
    height: 32px;
    width: 60px;
    border-radius: 0 5px 5px 0;
    border: 1px solid #303030;

    display: flex;
    align-items: center;
    justify-content: center;
}

.end {
    width: 200px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    margin-right: 20px;
}

/* -------------------------------- Content ------------------------------------------- */

.content {
    background-color: #181818;
    width: 100%;
    height: 100%;
    overflow: auto;

    /* display: flex; */
    /* flex-direction: row; */
}

/* -------------------------------- SideBar ------------------------------------ */

.sidebar {
    background-color: #202020;
    height: 100%;
    width: 70px;
    position: fixed;

    display: flex;
    flex-direction: column;
}

.item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    padding: 10px;
}

.item p {
    color: #fff;
    font-size: 10px;
}

/* ---------------------------------- Page Content ------------------------------ */

.page {
    /* background-color: #181818; */
    width: 100%;
    height: 100%;
    padding-left: 70px;
    padding-top: 25px;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.video {
    background-color: #f00;
    width: 300px;
    height: 180px;
    margin: 10px;
}

.videoItem {
    
}

.description {
    margin-left: 10px;

    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
}

.avatar {
    border-radius: 100%;
    background-color: #9c9c9c;
    padding: 5px;

    display: flex;
    align-items: center;
    justify-content: center;
}

.text {
    color: #9a9a9a;
    margin-left: 15px;
    margin-top: 5px;
}

.text h1 {
    font-size: 14px;
    font-weight: bolder;
    color: #fff;
    margin-top: -5px;
    margin-bottom: -10px;
}

.text h2 {
    font-size: 15px;
    font-weight: 400;
}

.text h3 {
    font-size: 14px;
    font-weight: 400;
    margin-top: -15px;
}